<footer class="footer image-nav py-3">
        <div class="social-icons">
          <a href="https://www.instagram.com/your-yelpcamp-page/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/your-yelpcamp-page/"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="link">
          <a href="http://www.yelpcamp.com">www.yelpcamp.com</a>
        </div>
        <div class="legal">
          <p>&copy; 2023 YelpCamp. All rights reserved.</p>
          <p><a href="http://www.yelpcamp.com/privacy-policy">Privacy Policy</a></p>
        </div>
</footer>