<% layout('layout/boilerplate')%>
<div class="col-6 offset-3">
    <p class="lead"> Welcome to YelpCamp! <br> Jump in and explore some of our many campgrounds. Feel free to share some of your own!</p>
</div>
