<%layout('layout/boilerplate')%>

<% for (let campground of campgrounds){%>
    <div class="mb-3">
        <div class="d-flex flex-row">
                <div class="card col-8 offset-2">
                    <div class="card-body text-link">
                            <h3 class="card-title"><%= campground.title %> </h3>
                            <h5 class=" card-text text-muted "><%= campground.location%></h5>
                            <a class="btn btn-primary float-end" href="/campgrounds/<%=campground._id%>">View campground</a>
                            <p class="card-text text-muted"><%= campground.description.slice(0, 100) %>...</p>
                    </div>
                </div>
            
          </div>
      </div>
<% }%>