<%layout('layout/boilerplate')%>

<div class="d-flex mb-3">
    <form class="row g-3" action="/campgrounds/search" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Searchbar" aria-describedby="button-addon2" name="key" autofocus>
            <button class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></button>
        </div>
    </form>
</div>

<% for (let campground of campgrounds){%>
    <div class="mb-3">
        <div class="d-flex flex-row">
                <div class="card col-8 offset-2">
                    <div class="card-body text-link">
                            <h3 class="card-title"><%= campground.title %> </h3>
                            <h5 class=" card-text text-muted "><%= campground.location%></h5>
                            <a class="btn btn-primary float-end" href="/campgrounds/<%=campground._id%>">View campground</a>
                            <p class="card-text text-muted"><%= campground.description.slice(0, 100) %>...</p>
                    </div>
                </div>
            
          </div>
      </div>
<% }%>