.img-index-box {
    height: 300px;
    padding: 0px;
    
}

.img-index {
    padding: 0px;
    justify-content: center;
    align-items: center;
    height:100%;
    overflow: hidden;
    object-fit: cover;
}