
body {
    height: 100%;
    background-color: #f9f9f9;
}

.image-nav {
    background: linear-gradient(120deg, #3D8F5B, #FF97AF);
    text-shadow: 0 0.05rem 0.1rem rgba(122, 122, 122, 0.5);
   
}

.cover-container {
    max-width: 60 vw;
}

a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.9);
    
}

.text-link a {
    text-decoration: none;
    color: white;
}

.text-link a:hover {
    text-decoration: none;
    color:  white;  
}

.nav-link {
    margin-left: 0.5rem;
    font-weight: 500;
}

.nav-link-drop {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(255,151,175, 0.8);
    font-weight: 500;
    
}

.nav-link-drop:hover {
    text-shadow: 0rem;
    background-color: #FF97AF;
    
}

.current-user {
    font-style: italic; 
    color: white;
    display: inline;
}

.dropdown-menu {
    margin: 0% 20% 0%;
}

.user-profile {
    display: inline;
    gap: 15px;
  }
  
  .user-profile img {
    display: inline;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  