
body {
    height: 100%;
    background-color: #f9f9f9;
}

.image-nav {
    background: linear-gradient(120deg, #3D8F5B, #FF97AF);
    text-shadow: 0 0.05rem 0.1rem #7a7a7a80;
   
}

.cover-container {
    max-width: 60 vw;
}

a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.9);
    
}

.text-link a {
    text-decoration: none;
    color: white;
}

.text-link a:hover {
    text-decoration: none;
    color:  white;  
}

.nav-link  {
    margin-left: 0.5rem;
    font-weight: 400;
    color:   rgba(255,255,255) !important;
}

.nav-link:active {
    color:   rgba(255,255,255) !important;
    font-weight: 500 !important;
}

.nav-link:hover {
    margin-left: 0.5rem;
    font-weight: 500 !important;
}

.nav-link-drop {
    color:  rgb(255,255,255) !important;
    font-weight: 400;
    
}

.nav-link-drop:hover {
    color:  rgb(255,255,255) !important;
    background-color:#ffa3b9 ;
    font-weight: 500 !important;
}

.current-user {
    font-style: italic; 
    color: white;
    display: inline;
}

.current-user:hover {
    font-style: italic; 
    color: white;
    display: inline;
}

.dropdown-menu {
    background-color:#ffa3b9 ;
    margin: 0% 20% 0%;
}

.user-profile {
    display: inline;
    gap: 15px;
  }
  
  .user-profile img {
    display: inline;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  