<% layout('layout/boilerplate')%>
<div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" id="password" name="user[password]" required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please fill in the blank
    </div>
    <div class="mb-3">
      <label class="form-label" for="repeat_password"> Repeat password</label>
      <input class="form-control" type="password" id="repeat_password" name="user[repeat_password]" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill in the blank
      </div>
  </div>