<% layout('layout/boilerplate')%>
<main class="col-8 offset-2 my-4" >
    <h4>Privacy Policy</h4>

    <p>YelpCamp ("us", "we", or "our") operates www.yelpcamp.com (the "Site"). </p>
    <p>This page informs you of our policies regarding the collection, use, and disclosure of Personal Information
         we receive from users of the Site. We use your Personal Information only for providing and improving the Site.<br>By using the
        Site, you agree to the collection and use of information in accordance with this policy.</p>
    <p>
    

    <h6>Information Collection and Use</h6>
        
    <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used
    to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email
    address, and demographic information.</p>

    <h6>Log Data</h6>
    <p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log
        Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the
         pages of our Site that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>

    <h6>Cookies</h6>
    <p>Cookies are files with small amounts of data, which may include an anonymous unique identifier. Cookies are sent to your browser
        from a web site and stored on your computer's hard drive.<br>Like many sites, we use "cookies" to collect information. You can 
        instruct your browser to refuse all cookies or to indicate when
        a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>

    <h6>Security</h6>
    <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or
        method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal
        Information, we cannot guarantee its absolute security.</p>

    <h6>Sharing of Information</h6>
    <p>We do not sell, trade, or rent your personal information to third parties. We may share generic aggregated demographic information
        not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates,
        and advertisers.</p>

    <h6>Changes to this Privacy Policy</h6>
    <p>YelpCamp has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of
        our Site, revise the updated date at the bottom of this page, and send you an email. We encourage you to frequently check this
        page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge
        and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>

    <h6>Your Acceptance of these Terms</h6>
    <p>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site.
        Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>

    <h6>Contacting Us</h6>
    <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at
        fakemail@gmail.com.</p>

    <h6 class="float-end" >Last updated: 24/02/2023</h6>
</main>