<% layout('layout/boilerplate')%>
<main class="col-8 offset-2 my-4 vh-100">
<h5>Welcome to YelpCamp! </h5>
<p>By registering on our site, users agree to comply with the following terms and conditions:</p>
<ol>
    <li>The content posted by users must be appropriate and respectful towards other users. The use of offensive language,
        hate speech, or discrimination of any kind will not be tolerated.</li>
    <li>Users are responsible for their own actions and should not engage in any illegal activities.</li>
    <li>The site is not responsible for any harm or damages caused by interactions between users or by the use
        of information obtained on the site.</li>
    <li>Users agree not to use any information obtained on the site for commercial purposes or to spam other users.</li>
    <li>The site reserves the right to remove any content or users that violate these terms and conditions.</li>
    <li>Users are responsible for keeping their account information up-to-date and secure.</li>
    <li>Any personal information collected by the site will be used in accordance with our privacy policy, which is outlined below.</li>
</ol>

<h6>Privacy Policy</h6>

<p>We collect personal information (such as name and email) in order to provide users with an account and to
    improve the site's functionality.
<br>We will not sell or rent users' personal information to third parties.

<br>We may use users' personal information to send updates and news about the site.

<br>We use cookies and other tracking technologies to improve the user experience and to analyze site usage.
<br>We may share users' personal information with third-party service providers in order to provide site
    functionality, such as processing payments.
<br>By registering on YelpCamp, users agree to comply with these terms and conditions and any updates or
    changes made to them.</p>
</main>